@import "default";  // 继承默认主题

.reveal {
    font-family: '霞婺文楷', 'Times New Roman', serif;
    font-size: 18px;
}

.reveal h1 {
    font-size: 25px;
}

.reveal h2 {
    font-size: 20px;
}

.reveal p {
    font-size: 18px;
}
